
.navButtons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.listElement {
    display: flex;
    justify-content: space-around;
    margin: 1em;


    font-size: 20px;
    

}

    .navbarText:hover{
        text-decoration: none;
        border-bottom:  4px solid #8e793e;
        
    }